body {
    background: linear-gradient(-45deg,lightblue,blue);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: sans-serif;
    color: white;
}
header {
    width: 1000px;
    top: 100px;
    margin: 0 auto;
    border: dashed, white, 5px;
    background-color: cornflowerblue;
}
h1 {
    font-size: 72px;
}
h2 {
    font-size: 54px;
}
h3 {
    font-size: 36px;
}
a {
    color: white;
}
footer {
    background-color: cornflowerblue;
    border: white,dashed,5px;
    position: relative;
    bottom: 500px;
    margin: 0 auto;
}
#contents {
    background-color: cornflowerblue;
    width: 500px;
    margin: 0 auto;
    border: dashed, white, 5px;
    position: relative;
    top: 100px;
}
#cast {
    background-color: cornflowerblue;
    border: white,dashed,5px;
    position: relative;
    top: 200px;
    right: 300px;
    width: 500px;
    margin: 0 auto;
}
#tickets {
    background-color: cornflowerblue;
    border: dashed, 5px, white;
    position: relative;
    top: -715px;
    left: 300px;
    width: 500px;
    margin: 0 auto;
}
#logo {
    width: 75px;
    position: relative;
    top: -200px;
    left: 500px;
    margin: 0 auto;
}
#logo2 {
    position: relative;
    margin: 0 auto;
    width: 75px;
    right: 500px;
    top: -200px;
}
#image {
    width: 300px;
    position: relative;
    bottom: 600px;
    left: 300px;
}
